<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="ExampleSetup" Manufacturer="WiXCraft" Version="1.0.0.0" UpgradeCode="816bf4c8-e0cc-43d0-b1d2-daafa9fa6bec" Scope="perMachine">
    <MediaTemplate EmbedCab="yes" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <!--<?include WiXCraft.generated.wxi ?>-->

    <Feature Id="ProductFeature" Title="Example Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Package>

  <Fragment>
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="INSTALLFOLDER" Name="ExampleSetup" />
    </StandardDirectory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="a1b2c3d4-e5f6-7890-abcd-ef1234567890">
        <File Id="IndexHtml" Source="Content\index.html" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
